@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:100');

// Fonts
$font-titles: 'Roboto Condensed', sans-serif;
$font-body: 'Roboto', sans-serif;

// Colors
$white: #ffffff;
$grey: #797e96;
$black: #191d35;
$dark-grey: #242840;
$primary: #039be5;
$red: #cb1d21;
$orange: #d4512b;
$green: #59b978;
$violet: #9421ff;
$purple: #5149fe;
