// import with variables
@import 'variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100 !important;
  font-family: $font-titles !important;
  margin: 0 !important;
}

.btn,
.btn-floating {
  background-color: $primary !important;
}

span.badge {
  min-width: auto !important;
  line-height: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

table .btn-floating {
  margin-left: 5px;
}

table tbody tr td .circle {
  max-width: 40px;
}

.ok {
  color: $ok;
}

.error {
  color: $error;
}

body {
  background-color: $black;
}

.adminify-container {
  padding: 0 30px;
}

header nav {
  background-color: $dark-grey !important;
}

nav ul a {
  color: $grey;
}

nav ul li.active,
nav ul li:hover {
  background: $black;
  opacity: 0.9;
}

.sidenav {
  background-color: $dark-grey;

  li > a,
  li > a > i.material-icons {
    color: $grey;
  }
}

.section {
  display: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}

.page-title {
  line-height: 40px;
}

.card {
  color: $grey !important;
  background-color: $dark-grey !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;

  .card-title.section {
    padding: 15px 20px !important;
    border-bottom: 1px solid $black;

    i {
      position: relative;
      bottom: -4px;
      margin-right: 4px;
    }
  }

  .collection {
    border: none;

    .collection-item {
      background: none;
      border-color: $black;

      .title {
        font-weight: 600;
      }

      p {
        font-style: italic;
        width: 90%;
      }
    }
  }

  .collection-item.avatar {
    padding: 10px 0px 10px 72px;
  }

  .collection-item.avatar .secondary-content {
    top: 10px;
    right: 0;
    width: 30px;
  }

  .collection-item .secondary-content {
    color: $primary !important;
    position: absolute !important;
    right: 0;
  }
}

.adminify-purple {
  @extend .card;
  background: rgba(78, 67, 255, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(78, 67, 255, 1) 0%,
    rgba(125, 35, 201, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(78, 67, 255, 1)),
    color-stop(100%, rgba(125, 35, 201, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(78, 67, 255, 1) 0%,
    rgba(125, 35, 201, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(78, 67, 255, 1) 0%,
    rgba(125, 35, 201, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(78, 67, 255, 1) 0%,
    rgba(125, 35, 201, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(78, 67, 255, 1) 0%,
    rgba(125, 35, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e43ff', endColorstr='#7d23c9', GradientType=1 );
}

.adminify-red {
  @extend .card;
  background: rgba(250, 120, 90, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(250, 120, 90, 1) 0%,
    rgba(255, 94, 179, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(250, 120, 90, 1)),
    color-stop(100%, rgba(255, 94, 179, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(250, 120, 90, 1) 0%,
    rgba(255, 94, 179, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(250, 120, 90, 1) 0%,
    rgba(255, 94, 179, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(250, 120, 90, 1) 0%,
    rgba(255, 94, 179, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(250, 120, 90, 1) 0%,
    rgba(255, 94, 179, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa785a', endColorstr='#ff5eb3', GradientType=1 );
}

.adminify-green {
  @extend .card;
  background: rgba(68, 213, 191, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(68, 213, 191, 1) 0%,
    rgba(19, 145, 204, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(68, 213, 191, 1)),
    color-stop(100%, rgba(19, 145, 204, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(68, 213, 191, 1) 0%,
    rgba(19, 145, 204, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(68, 213, 191, 1) 0%,
    rgba(19, 145, 204, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(68, 213, 191, 1) 0%,
    rgba(19, 145, 204, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(68, 213, 191, 1) 0%,
    rgba(19, 145, 204, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44d5bf', endColorstr='#1391cc', GradientType=1 );
}

.adminify-orange {
  @extend .card;
  background: rgba(237, 185, 94, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(237, 185, 94, 1) 0%,
    rgba(225, 93, 42, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(237, 185, 94, 1)),
    color-stop(100%, rgba(225, 93, 42, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(237, 185, 94, 1) 0%,
    rgba(225, 93, 42, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(237, 185, 94, 1) 0%,
    rgba(225, 93, 42, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(237, 185, 94, 1) 0%,
    rgba(225, 93, 42, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(237, 185, 94, 1) 0%,
    rgba(225, 93, 42, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb95e', endColorstr='#e15d2a', GradientType=1 );
}

.adminify-orange-plain {
  background: $orange;
}

.adminify-purple-plain {
  background: $purple;
}

.adminify-pink-plain {
  background: $pink;
}

.adminify-green-plain {
  background: $green;
}

.adminify-toast-ok {
  background: $ok;
  color: $white;
}

.adminify-toast-error {
  background: $error;
  color: $white;
}

.pagination li a {
  color: $primary;
}

.pagination li.disabled a {
  color: $grey;
}

.pagination li.active {
  background-color: $primary !important;
}

.fixed-action-btn .btn-floating {
  background: $primary;
}

.dropdown-content {
  background-color: $dark-grey;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $grey;
}

.dropdown-content li > a:hover {
  background: $black;
}

.input-field label {
  color: $grey !important;
}

.input-field textarea,
.input-field input[type='text'] {
  border-bottom: 1px solid $grey !important;
  color: $white !important;
}

.input-field input[type='text']:focus + label,
.input-field textarea:focus + label {
  color: $grey !important;
}

.input-field input[type='text']:focus,
.input-field textarea:focus {
  border-bottom: 1px solid $grey !important;
  box-shadow: 0 1px 0 0 $grey !important;
  color: $white !important;
}

.input-field input[type='text'].valid,
.input-field textarea.valid {
  border-bottom: 1px solid $grey !important;
  box-shadow: 0 1px 0 0 $grey !important;
}

.input-field input[type='text'].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid $grey !important;
  box-shadow: 0 1px 0 0 $grey !important;
}

.select-wrapper .caret {
  fill: $grey !important;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: $grey !important;
}

table {
  border-bottom: 1px solid $black !important;
  margin-bottom: 40px;
}

table.striped > tbody > tr:nth-child(odd) {
  background: $black;
}

.modal {
  background: $dark-grey;
}

.modal-content h4 {
  color: $grey;
}

.modal-footer {
  background-color: $black !important;
}
/*
// nesting
header {
  height: 64px;
  background: $dark-green;

  .brand-logo {
    line-height: 64px;
    font-size: 24px;
    color: $light-yellow;
  }
}

// mixin
@mixin decorativeDivider($height, $width) {
  width: $width;
  height: $height;
}

.divi {
  display: block;
  background: $medium-red;
  @include decorativeDivider(5px, 100px);
  margin: 30px 0;
}

// @extend
.button {
  display: inline-block;
  padding: 10px 20px;
  background: $dark-green;
  color: $light-yellow;
  text-transform: uppercase;
  // nesting
  &:hover {
    background: $medium-blue;
    cursor: pointer;
  }
}

.button-red {
  @extend .button;
  background: $medium-red;
}

.button-big {
  @extend .button;
  padding: 20px 30px;
}
*/
