// import with variables
@import 'variables';

body {
  background: $black;
}

header nav {
  background: $dark-grey !important;
}

/*
// nesting
header {
  height: 64px;
  background: $dark-green;

  .brand-logo {
    line-height: 64px;
    font-size: 24px;
    color: $light-yellow;
  }
}

// mixin
@mixin decorativeDivider($height, $width) {
  width: $width;
  height: $height;
}

.divi {
  display: block;
  background: $medium-red;
  @include decorativeDivider(5px, 100px);
  margin: 30px 0;
}

// @extend
.button {
  display: inline-block;
  padding: 10px 20px;
  background: $dark-green;
  color: $light-yellow;
  text-transform: uppercase;
  // nesting
  &:hover {
    background: $medium-blue;
    cursor: pointer;
  }
}

.button-red {
  @extend .button;
  background: $medium-red;
}

.button-big {
  @extend .button;
  padding: 20px 30px;
}
*/
